
code {
  background-color: rgba(242, 242, 242, 1);
  padding: 6px;
}

div {
  margin: 10px 0;
}

input {
  height: 30px;
  border-radius: 4px;
  padding-left: 6px;
}

.users{
  display: flex;
  div{
    margin: 10px;
  }
  margin: 10px;
}
